
.ContactForms {
    margin: auto; max-width: 380px;
}
.ContactForms form{
    width: 100%;
}
.ContactForms form div{
    width:100%;
    display: flex;
    margin:5px 0px 5px 0px;
}
.ContactForms form div label{
    width:30px;
    background-color: #003399;
    text-align: center;
    line-height:25px;
    margin:0;
}
.ContactForms form div img{
    height:16px;
    width:20px;
}
.ContactForms form div input{
    width:320px;
    line-height:25px;margin:0;
}
.ContactForms form div textarea{
    width:320px;
    height:200px;margin:0;
}
.ContactForms form button{
    color: #ffffff;
    background-color: #003399;
    border-radius: 10px;
    padding:5px;
    line-height: 25px;
    cursor: pointer;
    width:50px;
}