.SchoolTools{    
    border-radius: 5px; 
    padding:5px
 } 
 .SchoolTools.ButtonSchoolTools{
    cursor: pointer;
    color:#ffffff;
    background-color:#003399; 
    border-radius: 5px; 
    padding:5px
 }  
@media screen and (max-width: 600px){
    .SchoolTools{
        display:block;       
        margin:5px auto 5px auto;
    }      
}