.TabViews {
    width:100%
}
.TabViews .Tab-Bar{
    width:100%;
    border-collapse: collapse;
    background-color:#dadada;
}
.TabViews .Tab{
  width: 100%; 
}
.TabViews .Tab-Name{
  display:none;
}
.TabViews .Tab-Button:focus{outline:none}
.TabViews .Tab-Button{
    background-color:#e6e8e6;
    border-collapse: collapse;  
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding:5px 5px 5px 5px;
    font-weight: bold;
}
.TabViews .Tab-Button-Active{
    background-color:white;
    border:none;
    margin: 0 0 -2px 0;    
}
.TabViews .ScrollToBar{
  margin-left:50%;
  width:30px;height:30px;
  cursor: pointer;
}  